<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" _="on closeModal remove me">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <form hx-post="/teams/update"  hx-target="#{item.id}" hx-swap="outerHTML"  _="on htmx:afterRequest trigger closeModal">
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                        <div class="hidden">
                            <input name="id" type="hidden"  value="{item.id}">
                            <input name="countryCode" type="hidden"  value="{item.countryCode}">
                        </div>
                        <div>
                            <label>Название</label>
                            <input type="text"  name="name" value="{item.name}" placeholder="Введите название команды">
                        </div>
                        <div>
                            <label>Год основания</label>
                            <input  type="number" name="foundationYear" value="{item.foundationYear}" placeholder="Введите год основания">
                        </div>

                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button  _="on click trigger closeModal" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Отмена</button>
                        <button class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" type="submit">Обновить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>